a {
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .text-overlay {
    position: absolute;
    top: 1%;
    left: 82%;
    background-color: #4ab8d3;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 0px;
  }

body, ul, li {
    margin: 0;
    padding: 0;
    
  }
  
  nav {
    
    background-color: #4ab8d3;
    color: #fff;
    padding: 11px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width:max-content;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #d4350d;
  }
  
  .dropdown-content li {
    margin: 0;
  }
  
  .dropdown-content a {
    padding:20px;
    color: #fff;
    text-align: left;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #0dacd4;
  }
  .dropdown a:hover {
    background-color: #d4350d;
  }
  /* footer styles */
footer{
    background-color:rgb(211, 223, 216);
    width:100%;
    margin: 0 auto;
    padding: 15px 0px 10px 0px;
    overflow: hidden;
    
}
footer div{
    text-align:center;
}
footer div a{
    color:#828282;
}
footer div a:hover{
    color: #d4350d;
}
.footercontent{
    color:#828282;
}

